// License
#license {
  max-width: 110ch;
  margin-left: auto;
  margin-right: auto;

  @media (max-width: $bp-md) {
    margin-bottom: var(--space-md);
  }

  @media (max-width: $bp-sm) {
    margin-bottom: var(--space);
  }

  .section {
    text-align: center;
  }

  .image-wrapper {
    margin-top: var(--space);
    justify-self: end;
    width: 100%;
    text-align: center;
  }

  .image-wrapper img {
    width: 100%;
  }

  @media (min-width: 800px) {
    display: grid;
    grid-template-columns: 2fr 3fr;
    align-items: start;

    .heading {
      margin-top: var(--space);
      margin-bottom: var(--space);
      transform: translateX(calc(var(--space) * -2.5));
      z-index: 1;
    }

    .section {
      margin-left: var(--space-md);
      text-align: left;
    }

    .image-wrapper {
      margin-top: 0;
      grid-column: 1;
      grid-row: 1;
    }

    .section {
      grid-column: 2;
    }
  }
}

// Gallery grid
#gallery .section {
  text-align: center;
}

.grid {
  --gap: 0;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: var(--gap);
}

.grid-item {
  grid-column: var(--col, auto);
  grid-row: var(--row, auto);
}

.grid + .grid {
  margin-top: var(--gap);
}

.column {
  display: grid;
  grid-gap: var(--gap);
}

.image-wrapper {
  aspect-ratio: auto;
  overflow: hidden;
}

.image {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.span-columns {
  grid-column: 1 / -1;
}

.fill-height {
  height: 100%;
}

@supports not (aspect-ratio: 16 / 9) {
  .image-wrapper {
    display: block;
    position: relative;

    &::before {
      float: left;
      padding-top: calc(100% / (var(--ratio, 16 / 9)));
      content: "";
    }

    &::after {
      display: block;
      content: "";
      clear: both;
    }

    .image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }
}

// Gallery horizontal
.horizontal-gallery {
  display: grid;
  grid-template-columns: 1fr #{"min(100%, calc(110ch - var(--space-md) * 2))"} 1fr;
  max-width: 100%;
  width: 100%;
  overflow-x: scroll;
  scroll-behavior: smooth;
  overscroll-behavior-x: contain;
  scrollbar-width: none;
  white-space: nowrap;
  scroll-snap-type: x mandatory;

  &::-webkit-scrollbar {
    width: 0 !important;
    display: none;
  }

  .wrapper {
    display: flex;
    max-width: 100%;
    width: 100%;
  }

  .image-wrapper {
    flex: 1 0 auto;
    scroll-snap-align: center;
  }

  .image-wrapper img {
    max-height: clamp(250px, 20vw, 400px);
    object-fit: cover;
  }
}
