// Illustrations
.svg {
  fill: var(--color-primary);
}

.svg-tree-right,
.svg-tree-left,
.svg-desert-right,
.svg-desert-left,
.svg-stars {
  max-width: 25vw;
  pointer-events: none;

  @media (max-width: $bp-sm - 1) {
    min-width: 250px;
  }
}

.svg-desert-right {
  transform: translate3d(0, 10%, 0);
}

.svg-desert-left {
  transform: translate3d(-3%, 15%, 0);
}

.svg-outro {
  width: clamp(80px, 5vw, 100px);
}

.svg-outro-stars {
  transform: translateY(25%);
}

// Animations
.svg-anim--light {
  opacity: 1;

  [data-mode="dark"] & {
    opacity: 0;
  }

  [data-mode="light"] & {
    filter: blur(5px);
    animation: filter-blur calc(var(--duration) * 4) calc(var(--duration) / 2)
      var(--ease) forwards;
    transition: opacity calc(var(--duration) * 4) var(--ease);
  }
}

@keyframes filter-blur {
  from {
    filter: blur(5px);
  }
  99.9% {
    filter: blur(0.1px);
  }
  100% {
    filter: blur(0);
  }
}

.svg-anim--dark > * {
  opacity: 0;
  transform: translateY(1rem);

  [data-mode="dark"] & {
    transform: translateY(0);
    opacity: 1;
    transition: transform calc(var(--duration) * 4) calc(var(--duration) / 2)
        var(--ease),
      opacity calc(var(--duration) * 4) calc(var(--duration) / 2) var(--ease);
  }
}
