// Articles
.article {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.article-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
  text-align: center;
}

#ceremony {
  max-width: 71ch;
}

.side-gutters {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 1200px;
  transform: translateX(-50%);
  pointer-events: none;

  [data-mode="light"] & {
    z-index: -1;
  }

  > :first-child {
    margin-right: auto;
  }
}

.side-gutters .svg-wrapper {
  display: grid;
  grid-template-areas: "wrap";

  > * {
    grid-area: wrap;
  }
}

// Sections
.section {
  max-width: 65ch;
  text-align: center;

  .heading {
    margin-top: var(--space-md);
  }

  @media (min-width: $bp-sm) {
    text-align: left;
  }
}
