// Typography
.eyebrow {
  justify-self: center;
  font-family: var(--font-primary);
  font-size: clamp(0.85rem, 1.5vw, 1.5rem);
}

.heading {
  position: relative;
  font-size: clamp(2rem, 3vw, 4rem);
  font-family: var(--font-heading);
  line-height: 1.2;
}
