<article id="gallery" class="article article-center width-lg">
  <section class="grid">
    <div class="grid-item image-wrapper" style="--col: span 12">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/v1627748651/ryanandaly/mulligabe-wedding-2_dgdhkd.webp"
        alt="Ryan and Aly dressed up and smiling"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748656/ryanandaly/mulligabe-wedding-3_iuoetl.webp"
        alt="Stacked ice cream enamel pins on cards in wood box"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748657/ryanandaly/mulligabe-wedding-4_dpgfxt.webp"
        alt="Decorated outdoor bed frame with flowers in center"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6/-1; --row: 2/4">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748653/ryanandaly/mulligabe-wedding-5_z8ohf0.webp"
        alt="Tube floating in pool with sun shining in background"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 12">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/v1627748656/ryanandaly/mulligabe-wedding-6_wbkonm.webp"
        alt="Photo leaning on record player showing Aly and Ryan kissing"
      />
    </div>
    <div class="grid-item column" style="--col: span 5">
      <div class="image-wrapper">
        <img
          class="image"
          loading="lazy"
          src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748657/ryanandaly/mulligabe-wedding-7_vensbj.webp"
          alt="Full shot of Ryan and Aly dressed up outdoors for the ceremony"
        />
      </div>
      <div class="image-wrapper">
        <img
          class="image"
          loading="lazy"
          src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748657/ryanandaly/mulligabe-wedding-8_oqjcgk.webp"
          alt="Aly looking in mirror applying makeup with mother and sister standing beside her"
        />
      </div>
      <div class="image-wrapper">
        <img
          class="image"
          loading="lazy"
          src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748657/ryanandaly/mulligabe-wedding-9_xa8vvl.webp"
          alt="Focus on Ryan and his brother's Converse shoes"
        />
      </div>
    </div>
    <div class="grid-item column" style="--col: span 7">
      <div class="image-wrapper">
        <img
          class="image"
          loading="lazy"
          src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_700/v1627748658/ryanandaly/mulligabe-wedding-10_iltd65.webp"
          alt="Aly's first appearance in her dress as Ryan looks on in awe"
        />
      </div>
      <div class="image-wrapper">
        <img
          class="image"
          loading="lazy"
          src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_700/v1627748659/ryanandaly/mulligabe-wedding-11_jtiesl.webp"
          alt="Group outdoor photo with Aly's family"
        />
      </div>
      <div class="image-wrapper">
        <img
          class="image"
          loading="lazy"
          src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_700/v1627748660/ryanandaly/mulligabe-wedding-12_wv0fsx.webp"
          alt="Candid shot of Ryan and his dad smiling"
        />
      </div>
    </div>
    <div class="grid-item image-wrapper" style="--col: span 12">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/v1627748662/ryanandaly/mulligabe-wedding-13_w8ehff.webp"
        alt="Group shot of Aly, Ryan, and their siblings by the pool"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748659/ryanandaly/mulligabe-wedding-14_pcutx9.webp"
        alt="Close up outdoor shot of Aly, Ryan, and his siblings"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748662/ryanandaly/mulligabe-wedding-15_coz7tf.webp"
        alt="Outdoor shot of Aly, Ryan, and his family"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_500/v1627748660/ryanandaly/mulligabe-wedding-16_umtkxr.webp"
        alt="Ryan holds a bottle of champagne as Aly holds his arm and looks at him lovingly"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 8">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_700/v1627748662/ryanandaly/mulligabe-wedding-17_tuoixd.webp"
        alt="Scooping ice cream into a cone from one of the Jeni's Ice Cream pints in the ice tub"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 8">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_700/v1627748661/ryanandaly/mulligabe-wedding-18_qwad56.webp"
        alt="Dog, Oscar, resting on carpet, looking up at the action offscreen"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_500/v1627748667/ryanandaly/mulligabe-wedding-27_tflyg1.webp"
        alt="Dog, Nico, sitting on a chair outside with his tongue hanging out"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 3">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_400/v1627748669/ryanandaly/mulligabe-wedding-28_wrkqn6.webp"
        alt="Dog, Izzie, sitting and watching the action in the pool just after being a part of it"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 3">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_400/v1627748669/ryanandaly/mulligabe-wedding-29_nghzw5.webp"
        alt="Dog, Moka, sitting on rug wearing a big bow tie"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748663/ryanandaly/mulligabe-wedding-19_jxlw4m.webp"
        alt="Dogs, Oscar and Moka, laying in the dog bed together"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 12">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/v1627748663/ryanandaly/mulligabe-wedding-20_xenyuj.webp"
        alt="Aly smiles for the camera, holding Ryan, while he looks at her smiling"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_500/v1627748663/ryanandaly/mulligabe-wedding-21_zfio50.webp"
        alt="Ryan hugging his mom"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_crop,g_north_east,w_860,x_80,y_175/v1627748665/ryanandaly/mulligabe-wedding-22_y4vxva.webp"
        alt="Dave and Alecia, Ryan's brother and sister-in-law, cheers champagne glasses towards the camera"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748665/ryanandaly/mulligabe-wedding-23_m1zfes.webp"
        alt="Ryan's dad standing with Aly, being goofy, and making her laugh"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627748666/ryanandaly/mulligabe-wedding-24_siyhgq.webp"
        alt="Aly smiling and dancing with her father"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/v1627748666/ryanandaly/mulligabe-wedding-25_b01ro4.webp"
        alt="Aly dancing with her smiling father"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 12">
      <img
        class="image"
        loading="lazy"
        src="https://res.cloudinary.com/hexagoncircle/image/upload/v1627748668/ryanandaly/mulligabe-wedding-26_nqchzi.webp"
        alt="Outdoor group photo of the entire wedding party smiling together"
      />
    </div>
  </section>

  <section class="section u-flow u-pad">
    <h2 class="heading">Thank you to our families.</h2>
    <p>
      We can't possibly say it enough: making the day run as smooth as it did
      could not have been done without them. The memories made at Joshua Tree
      were the best we could have ever asked for.
    </p>
    <p>
      For those sad to not be there for our special day: do not fret. We
      definitely plan to celebrate our love with you all as it gets easier for
      us all to come together.
    </p>
  </section>
</article>
