<article id="gallery" class="article article-center">
  <div class="grid">
    <div class="grid-item image-wrapper" style="--col: span 12; --ratio: 16/9">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-2.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6; --ratio: 10/7">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-3.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6; --ratio: 10/7">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-4.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: 7/-1; --row: 2/4">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-5.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 12; --ratio: 4/2">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-6.jpg"
      />
    </div>
    <div class="grid-item column" style="--col: span 5">
      <div class="image-wrapper" style="--ratio: 159/256">
        <img
          class="image"
          loading="lazy"
          src="../images/photos/mulligabe-wedding-7.jpg"
        />
      </div>
      <div class="image-wrapper" style="--ratio: 640/459">
        <img
          class="image"
          loading="lazy"
          src="../images/photos/mulligabe-wedding-8.jpg"
        />
      </div>
      <div class="image-wrapper" style="--ratio: 640/431">
        <img
          class="image"
          loading="lazy"
          src="../images/photos/mulligabe-wedding-9.jpg"
        />
      </div>
    </div>
    <div class="grid-item column" style="--col: span 7">
      <div class="image-wrapper">
        <img
          class="image"
          loading="lazy"
          src="../images/photos/mulligabe-wedding-10.jpg"
        />
      </div>
      <div class="image-wrapper">
        <img
          class="image"
          loading="lazy"
          src="../images/photos/mulligabe-wedding-11.jpg"
        />
      </div>
      <div class="image-wrapper">
        <img
          class="image"
          loading="lazy"
          src="../images/photos/mulligabe-wedding-12.jpg"
        />
      </div>
    </div>
    <div class="grid-item image-wrapper" style="--col: span 12; --ratio: 10/7">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-13.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6; --ratio: 45/32">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-14.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6; --ratio: 45/32">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-15.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4; --ratio: 83/128">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-16.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 8; --ratio: 35/27">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-17.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 8; --ratio: 3/2">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-18.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4; --ratio: 3/4">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-27.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 3; --ratio: 3/4">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-28.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 3; --ratio: 3/4">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-29.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-19.jpg"
      />
    </div>
    <div
      class="grid-item image-wrapper"
      style="--col: span 12; --ratio: 256/179"
    >
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-20.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4; --ratio: 3/4">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-21.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4; --ratio: 3/4">
      <img
        class="image"
        loading="lazy"
        style="transform: scale(1.14); transform-origin: 25% bottom"
        src="../images/photos/mulligabe-wedding-22.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 4; --ratio: 3/4">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-23.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6; --ratio: 3/4">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-24.jpg"
      />
    </div>
    <div class="grid-item image-wrapper" style="--col: span 6; --ratio: 3/4">
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-25.jpg"
      />
    </div>
    <div
      class="grid-item image-wrapper"
      style="--col: span 12; --ratio: 640/427"
    >
      <img
        class="image"
        loading="lazy"
        src="../images/photos/mulligabe-wedding-26.jpg"
      />
    </div>
  </div>
</article>
