<article id="our-record" class="article article-center u-pad">
  <hr class="separator" />
  <section class="section">
    <img
      src="https://res.cloudinary.com/hexagoncircle/image/upload/c_scale,w_600/v1627879469/ryanandaly/mulligabe-record_xqcr8r.jpg"
      alt="Our custom-made vinyl record peeking out of its sleeve"
      loading="lazy"
    />

    <div class="record-tracklists u-flow">
      <h2 class="heading">Listen to our wedding record.</h2>
      <a
        class="button button--text record-playlist-link"
        href="https://open.spotify.com/playlist/0velSoyZDuoaUL8y64edju?si=04a8b654d6b543c0"
        target="_blank"
        rel="noopener"
      >
        For Dancin' • Sides A & B
      </a>
      <p>
        Upbeat and energetic songs including our wedding anthem,
        <em>I Melt With You</em> and the song of Aly’s spontaneous
        father-daughter swing dance, <em>You Make My Dreams (Come True)</em>.
      </p>
      <a
        class="button button--text record-playlist-link"
        href="https://open.spotify.com/playlist/3BMeBxXhtwqYVdgXAeKmCv?si=0ce73c7147914fbe"
        target="_blank"
        rel="noopener"
      >
        For Lovin' • Sides C & D
      </a>
      <p>
        Sweet slow jams to close out the night. Also what we played while
        cleaning up the Airbnb hungover the next morning. Featuring
        <em>Cheek to Cheek</em>, <em>Let’s Stay Together</em>,
        <em>Your Song</em>, and more.
      </p>
    </div>
    <a
      class="button button--text playlist-link"
      title="Open the playlist on Spotify"
      href="https://open.spotify.com/playlist/0O3Jll5c4zsvEfXcwm3kw7?si=QuB-a9mUTpuHyhpv6Un0uQ"
      target="_blank"
      rel="noopener"
    >
      Or check out our full playlist of curated vibez
    </a>
  </section>
  <hr class="separator" />
</article>
