// Introduction
#introduction {
  display: grid;

  @media (min-width: $bp-sm) {
    grid-template: auto 1fr / auto 1fr;
  }

  .section {
    justify-self: center;
  }

  .svg {
    display: none;
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    @media (min-width: $bp-sm) {
      display: block;
    }
  }
}

.donation-list {
  display: grid;
  grid-gap: var(--space);
  grid-template-columns: 1fr 1fr;
  place-items: center;
  margin-top: var(--space);

  @media (min-width: $bp-sm) {
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }

  a {
    position: relative;
    display: flex;
    align-items: flex-start;
    padding: var(--space-xxs);
  }
}

.svg-logo {
  position: relative;
  fill: var(--color-primary);
  width: 100%;
  max-width: 150px;

  [href*="cw"] & {
    max-width: 120px;
  }

  [href*="aclu"] & {
    max-width: 90px;
  }

  [href*="joyrides"] & {
    top: 0.15em;
  }

  [href*="thorn"] & {
    top: -0.25em;
  }
}
