// Utilities
.u-flow > * + * {
  margin-top: var(--space-sm);
}

.u-pad {
  padding-left: var(--space);
  padding-right: var(--space);

  @media (min-width: $bp-sm) {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
}

.u-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
