// Breakpoints
$bp-sm: 600px;
$bp-md: 900px;

// Variables
:root,
[data-mode="light"] {
  --color-primary: hsl(38, 100%, 37%);
  --color-primary-offset: hsl(38, 70%, 60%);
  --color-secondary: hsl(44, 31%, 93%);
  --color-secondary-offset: hsl(44, 31%, 83%);
  --color-highlight: dodgerblue;

  --font-primary: "stratos", sans-serif;
  --font-heading: "moret", serif;
  --font-display: "lust", serif;

  --space: clamp(2rem, 2vw, 2.5rem);
  --space-xxs: calc(var(--space) / 3);
  --space-xs: calc(var(--space) / 2);
  --space-sm: calc(var(--space) / 1.5);
  --space-md: calc(var(--space) * 2);
  --space-lg: calc(var(--space) * 3);

  --duration: 400ms;
  --ease: cubic-bezier(0.25, 1, 0.5, 1);
}

[data-mode="dark"] {
  --color-primary: hsl(0, 0%, 92%);
  --color-primary-offset: hsl(0, 0%, 63%);
  --color-secondary: hsl(0, 0%, 8%);
  --color-secondary-offset: hsl(0, 0%, 18%);
  --color-highlight: yellow;
}

.no-js {
  --duration: 0s;
}

// Globals
*,
*::before,
*::after {
  box-sizing: border-box;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  color: var(--color-primary);
  background-color: var(--color-secondary);
  font-family: var(--font-primary);
  font-size: clamp(1.15rem, 1.25vw, 1.5rem);
  line-height: 1.75;
  margin-bottom: var(--space-lg);
}

// Utilities
.u-flow > * + * {
  margin-top: var(--space-sm);
}

.u-pad {
  padding-left: var(--space);
  padding-right: var(--space);

  @media (min-width: $bp-sm) {
    padding-left: var(--space-md);
    padding-right: var(--space-md);
  }
}

.u-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

// Typography
.eyebrow {
  justify-self: center;
  font-family: var(--font-primary);
  font-size: clamp(0.85rem, 1.5vw, 1.5rem);
}

.heading {
  position: relative;
  font-size: clamp(2rem, 3vw, 4rem);
  font-family: var(--font-heading);
  line-height: 1.2;
}

// Controls
a[href],
button,
input {
  &:focus {
    outline: none;
  }

  &:focus-visible,
  &:focus-visible + label {
    outline: 2px dashed var(--color-highlight);
    outline-offset: 3px;
  }
}

a[href] {
  color: var(--color-primary);
}

.button {
  padding: var(--space-xs) var(--space);
  font-family: var(--font-heading);
  font-size: inherit;
  text-transform: uppercase;
  color: var(--color-secondary);
  background-color: var(--color-primary);
  border: none;
  cursor: pointer;

  &:active {
    transform: translateY(1px);
  }
}

.mode-switch + label {
  --switch-size: 8px;
  --border-size: 2px;
  position: absolute;
  top: var(--space-xs);
  left: var(--space-xs);
  display: inline-block;
  border: var(--border-size) solid var(--color-primary);
  width: calc(var(--switch-size) * 4);
  z-index: 1;
  cursor: pointer;

  &::before {
    --padding: var(--space);
    content: "";
    position: absolute;
    top: calc(var(--padding) / -2);
    left: calc(var(--padding) / -2);
    width: calc(100% + var(--padding));
    height: calc(100% + var(--padding));
  }

  &::after {
    content: "";
    position: relative;
    display: block;
    width: 50%;
    height: var(--switch-size);
    background-color: var(--color-primary);
    border: var(--border-size) solid var(--color-secondary);
    transform: translateX(100%);
    transition: transform calc(var(--duration) / 2) var(--ease);
  }
}

.mode-switch:checked + label::after {
  transform: translateX(0);
}

// Illustrations
.svg {
  fill: var(--color-primary);
}

.svg-tree-right,
.svg-tree-left,
.svg-desert-right,
.svg-desert-left,
.svg-stars {
  max-width: 25vw;
  pointer-events: none;

  @media (max-width: $bp-sm - 1) {
    min-width: 250px;
  }
}

.svg-stars > * {
  opacity: 0;
  transform: translateY(1rem);

  [data-mode="dark"] & {
    transform: translateY(0);
    opacity: 1;
    transition: transform calc(var(--duration) * 4) calc(var(--duration) / 2)
        var(--ease),
      opacity calc(var(--duration) * 4) calc(var(--duration) / 2) var(--ease);
  }
}

.svg-desert-right {
  transform: translate3d(4%, 10%, 0);
}

.svg-desert-left {
  transform: translate3d(-3%, 15%, 0);
}

.svg-desert-right,
.svg-desert-left {
  [data-mode="dark"] & {
    opacity: 0;
    filter: blur(5px);
  }

  [data-mode="light"] & {
    filter: blur(0.1px);
    transition: filter calc(var(--duration) * 4) calc(var(--duration) / 2)
        var(--ease),
      opacity calc(var(--duration) * 4) var(--ease);
  }
}

// Header
.header {
  display: grid;
  margin: var(--space-sm) 0;
  overflow: hidden;

  @media (min-width: $bp-sm) {
    grid-template: auto 1fr / 1fr auto;
    margin: var(--space-lg) 0;
  }
}

.header .svg {
  grid-column: 1;
  grid-row: 1;
  align-self: start;
  justify-self: end;

  @media (min-width: $bp-sm) {
    grid-column: 2 / -1;
    grid-row: 1 / -1;
    display: block;
  }
}

.title {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  margin: var(--space) auto 0;
  text-align: center;
  line-height: 1.3;

  @media (min-width: $bp-sm) {
    margin: auto;
  }

  .names {
    display: block;
    font-size: clamp(3rem, 7.5vw, 10rem);
    font-family: var(--font-display);
    font-weight: 700;
    font-style: italic;
    letter-spacing: 0.1vw;
  }

  .tagline {
    display: block;
    font-size: clamp(1.125rem, 2vw, 2.25rem);
    font-family: var(--font-heading);
    margin-top: var(--space-xxs);
    letter-spacing: 0.25vw;
    text-transform: uppercase;

    @media (min-width: $bp-sm) {
      margin-top: var(--space);
    }
  }
}

// Article layouts
.article {
  margin-top: var(--space-lg);
  margin-bottom: var(--space-lg);
}

.article-center {
  margin-left: auto;
  margin-right: auto;
  max-width: 80ch;
  text-align: center;
}

// Sections
.section {
  max-width: 60ch;
  text-align: center;

  .heading {
    margin-top: var(--space-md);
  }

  @media (min-width: $bp-sm) {
    text-align: left;
  }
}

// Introduction
#introduction {
  display: grid;

  @media (min-width: $bp-sm) {
    grid-template: auto 1fr / auto 1fr;
  }

  .section {
    justify-self: center;
  }

  .svg {
    display: none;
    grid-column: 1 / 2;
    grid-row: 1 / -1;

    @media (min-width: $bp-sm) {
      display: block;
    }
  }
}

// Playlist
#playlist {
  max-width: 1500px;

  .svg {
    margin: 0 auto var(--space);
    max-width: 200px;
  }

  .section {
    max-width: 80ch;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .heading {
    margin-top: 0;
  }
}

.playlist-container {
  --cover-size: 400px;
  margin-top: var(--space-md);
  align-items: start;

  @media (min-width: $bp-md) {
    display: grid;
    grid-template-columns: minmax(300px, 1fr) 1fr;
  }
}

.playlist-cover {
  position: relative;
  grid-row: 1 / 3;
  width: 100%;
  max-width: var(--cover-size);
  margin: 0 auto var(--space-md);
  background-color: var(--color-primary);

  @media (min-width: $bp-md) {
    max-width: unset;
    margin: unset;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.tracklist {
  margin: 0 auto;
  width: 100%;
  max-width: var(--cover-size);
  list-style: decimal-leading-zero;
  counter-reset: tracklist-counter;

  @media (min-width: $bp-md) {
    margin: 0 0 0 var(--space-md);
    width: auto;
    max-width: unset;
  }
}

.playlist-link {
  display: inline-block;
  grid-column: 2;
  align-self: end;
  justify-self: start;
  padding: 0 var(--space-xxs);
  font-family: var(--font-heading);
  line-height: 1.4;

  @media (min-width: $bp-md) {
    margin-left: calc(var(--space-md) - var(--space-xxs));
  }
}

.track {
  --art-size: clamp(50px, 5vw, 70px);
  display: flex;
  margin-bottom: var(--space);
  counter-increment: tracklist-counter;
  text-align: left;
  font-size: clamp(1.125rem, 1.25vw, 1.25rem);
  line-height: 1.4;

  &::before {
    content: counter(tracklist-counter, decimal-leading-zero);
    flex: 0 0 var(--space-sm);
    display: flex;
    align-items: center;
    height: var(--art-size);
    margin-right: var(--space-xxs);
    font-family: var(--font-heading);
    color: var(--color-primary-offset);
  }
}

.album-art {
  flex-shrink: 0;
  width: var(--art-size);
  height: var(--art-size);
  margin-right: var(--space-xs);
  background-color: var(--color-secondary-offset);
}

.track-info {
  > * {
    display: block;
  }

  .artist {
    color: var(--color-primary-offset);
  }
}

// Temperature
#guess-the-temp {
  display: grid;
  grid-gap: var(--space-md);
  justify-items: center;

  @media (min-width: $bp-md) {
    grid-template-columns: 1fr 1fr;
  }

  .heading {
    @media (max-width: $bp-md - 1) {
      margin-top: 0;
    }
  }

  .section {
    text-align: center;

    @media (min-width: $bp-md) {
      text-align: left;
    }
  }

  .svg {
    overflow: visible;
    fill: none;
  }

  .svg-skull {
    margin-top: var(--space-md);
    width: clamp(100px, 8vw, 160px);
  }

  .svg-stars {
    margin-top: var(--space-md);
    fill: var(--color-primary);
    width: clamp(200px, 20vw, 300px);
    max-width: 100%;
  }
}

// Thermostat
.thermostat {
  display: grid;
  align-items: start;
  justify-items: center;
  width: 100%;
  max-width: 500px;
  max-height: 400px;
  padding: 2rem 1rem 1rem;
  overflow: hidden;

  @media (min-width: $bp-md) {
    max-width: 40vw;
    max-height: unset;
  }

  > * {
    grid-area: 1 / -1;
  }
}

.thermostat-range,
.thermostat-control,
.svg-thermostat {
  max-width: 600px;
}

.svg-thermostat {
  touch-action: manipulation !important;
}

.thermostat-content {
  text-align: center;

  .button {
    position: relative;
    z-index: 1;
  }

  .svg-wrapper {
    display: grid;
    place-items: center;
    pointer-events: none;

    > * {
      grid-area: 1 / -1;
    }
  }
}

.thermostat-temp {
  font-family: var(--font-heading);
  font-size: clamp(4rem, 6vw, 6rem);
}

.thermostat-control {
  width: 100%;

  > * {
    position: absolute;
  }

  &::after {
    content: "";
    display: block;
    padding-bottom: 100%;
  }
}

.thermostat-ring,
.thermostat-fill {
  stroke-width: 2;
  stroke-linecap: round;
}

.thermostat-ring {
  stroke: var(--color-secondary-offset);
}

.thermostat-fill {
  transform-origin: center;
  transform: rotate(0.5turn);
  stroke: var(--color-primary);
}

.thermostat-knob {
  fill: var(--color-primary);
  cursor: grab;
  stroke: transparent;
  stroke-width: 6;

  &:active {
    cursor: grabbing;
  }
}

// Skull
.skull-outline {
  transform: translate(-2%, -2%);
}

[data-mode="light"] {
  .skull {
    visibility: hidden;
  }

  .skull-color-primary {
    fill: var(--color-primary);
  }

  .skull-color-secondary {
    fill: var(--color-primary);
  }

  .skull-color-accent {
    fill: var(--color-secondary);
  }
}

[data-mode="dark"] {
  .skull-outline {
    visibility: hidden;
  }

  .skull-color-primary {
    fill: var(--color-primary);
  }

  .skull-color-secondary {
    fill: var(--color-secondary);
  }

  .skull-color-accent {
    fill: var(--color-primary);
  }
}

.svg-skull.is-animating {
  animation: temperature-change var(--duration) var(--ease);
}

.expression {
  visibility: hidden;
}

[data-expression="1"] .expression-1,
[data-expression="2"] .expression-2,
[data-expression="3"] .expression-3 {
  visibility: visible;
}

@keyframes temperature-change {
  20% {
    transform: translateY(-3rem);
  }
  40% {
    transform: translateY(0.5rem) rotate(-5deg);
  }
  60% {
    transform: translateY(-0.75rem) rotate(5deg);
  }
  80% {
    transform: translateY(0.25rem);
  }
}

// Reduced motion
@media (prefers-reduced-motion) {
  :root {
    --duration: 0.01s;
  }

  html:focus-within {
    scroll-behavior: auto;
  }
}
